# The local gitignore for Christopher Grossack's dotfiles.

# Let's idiotproof public/private key files again...
# just in case
*.pem
*.key
*.der
*.csr
*.crt
*.cert
*.cer
*.der
*.p7b
*.crl

# Nobody wants to see what irssi automatically assigns things
irssi/saved_colors
irssi/_windowlist
irssi/config.autosave

# Nobody wants to see all my undos for vim.
vim/undodir

# Nobody wants to see my vim dictionary for spelling
vim/spell

# Nobody needs my vim plugin folder. All my plugins are
# visible at the top of my vimrc, and will automatically
# be installed in their latest version by vundle.
vim/bundle

# Nobody needs to see the in use vimperator info
vimperator/info
