snippet imp "import" b
import qualified ${1:Module} as ${0:M}
endsnippet

snippet imp2 "import (..)" b
import           ${1:Module} (${0:stuff})
endsnippet

snippet inst "instance" b
instance ${1:Typeclass} ${2:Type} where
	${0}
endsnippet

snippet \ "lambda" b
\ ${1:x} -> ${2:expression}
endsnippet

snippet case "case ... of ..."
case ${1} of
	${2} -> ${3}
	${4} -> ${5}
endsnippet
