# This is mainly for writing my blog posts
# so a lot of this relies on Jekyll's markdown/latex machinery
# plus the excellent CSSing of Remy Davison

snippet boxed "<div class=boxed>" b
<div class=boxed markdown=1>
$0
</div>
endsnippet

snippet sageblock "a sage code block" b
<div class="linked_auto">
<script type="text/x-sage">
$0
</script>
</div>
endsnippet
