priority -50

snippet #! "shebang header for python" b
#!/usr/bin/env python
# -*- coding: utf-8 -*-
# Christopher Grossack
$0
endsnippet

snippet for "for loop"
for ${1:item} in ${2:iterable}:
	${3:${VISUAL:pass}}
endsnippet
